DEBUG=True
SECRET_KEY=seco_seco
ALLOWED_HOSTS=.localhost,127.0.0.1
ALLOWED_ORIGINS=http://127.0.0.1:4200,http://localhost:4200
PGDATABASE=pg_name
PGHOST=pg_host
PGPORT=5432
PGUSER=pg_user
PGPASSWORD=pg_seco_seco