<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Backend</title>
    <meta
      name="description"
      content="A back-end web application built with Django to support multiple front-end applications."
    />
    <meta
      name="keywords"
      content="api,docs,django,backend,professional,portfolio"
    />
    <meta name="author" content="Hussein Kandil" />
    <style>
      html {
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <header>
      <h1 id="index-label">Django Backend</h1>
      <p>
        A back-end web application built with <a href="https://www.djangoproject.com/">Django</a> to support multiple
        front-end applications.
      </p>
    </header>
    <main>
      <ul aria-labelledby="index-label">
        <li>
          {% url 'api-root' as api_root %}
          <a href="{{ api_root }}">{{ api_root }}</a>
        </li>
        <li>
          {% url 'swagger-ui' as swagger_ui %}
          <a href="{{ swagger_ui }}">{{ swagger_ui }}</a>
        </li>
        <li>
          {% url 'redoc' as redoc %}
          <a href="{{ redoc }}">{{ redoc }}</a>
        </li>
        <li>
          {% url 'monotext:index' as monotext %}
          <a href="{{ monotext }}">{{ monotext }}</a>
        </li>
      </ul>
    </main>
  </body>
</html>
